@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.links {
  display: flex;
  gap: 50px;
  list-style-type: none;
}

.links a {
  text-decoration: none;
  color: black;
}

.links a:hover {
  color: blue;
}

.nav-right {
  display: flex;
  gap: 30px;
}

.search-bar {
  border: none;
  background-color: rgb(181, 177, 177);
  padding: 7px 15px;
  border-radius: 20px;
  outline: none;
}

.dark-mode-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.dark-mode-toggle img {
  height: 20px;
}

.blog-posts {
  position: relative;
  z-index: 1;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.card {
  position: relative;
  z-index: 1;
  align-self: center;
  justify-self: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tags {
  display: flex;
  color: rgb(122, 122, 122);
  gap: 10px;
}

.load-more {
  display: flex;
  justify-content: center;
}

.whole-container {
  padding-bottom: 20px;
}

.stats {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.read-more {
  background: #007bff;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.read-more:hover {
  background: #0056b3;
}

/* dark mode */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
.dark-mode {
  background-color: #121212;
  color: white;
}

/* Dark mode for navbar */
.dark-mode .nav {
  background-color: #1e1e1e;
}

.dark-mode .nav .links li a {
  color: white;
}

/* Dark mode for search bar */
.dark-mode .search-bar {
  background-color: #333;
  color: white;
}

/* Dark mode for blog posts */
.dark-mode .card {
  background-color: #222;
  color: white;
}

/* Dark mode toggle button */
.darkModeImage {
  filter: invert(100%);
}
